<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExpensesTracker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE5695B120C6D37F00F86265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5695C520C6D38100F86265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5695D020C6D38100F86265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
